<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit</title>
</head>
<body>
  <h1>Edit <%= album.name %></h1>
  <form action="/album/<%= album._id %>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%= album.name %>"><br>
    Artist: <input type="text" name="artist" value="<%= artist.name %>"><br>
    Album Art: <input type="text" name="art" value="<%= album.art %>"><br>
    <input type="submit" value="Make changes">
  </form>
</body>
</html>