<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/main.css">
  <title>Collection</title>
</head>
<body>

  <%- include('../partials/nav') %>

  <div class="title-box">
    <h1>My Collection</h1>
    <h2>Albums</h2>
  </div>

  <section class="album-container">
   <% albums.forEach(album => { %>
     <div class="artist-and-album">
       <h4>
         <a href="/album/<%= album._id %>">
           <%= album.name %>
         </a>
       </h4>
         <a href="/album/<%= album._id %>">
          <img src="<%= album.art %>" height="150" width="150">
        </a>
     </div>
   <% }) %>

   <div class="artist-box">
    <h2>Artists</h2>
    <% artists.forEach(artist => { %>
      <h4>
        <a href="/artist/<%= artist._id %>">
          <%= artist.name %>
        </a>
      </h4>
    <% }) %>
  </div>

</section>


</body>
</html>