<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/main.css">
  <title>Artist</title>
</head>
<body>

  <%- include('../../partials/nav') %>

  <h1><%= artist.name %></h1>
<a href="/artist/<%= artist._id %>/edit">Edit</a>

<form action="/artist/<%= artist._id %>?_method=DELETE" method="POST">
  <input type="submit" value="Delete">
</form>

  <ul>
    <h1>Albums</h1>

  <% artist.albums.forEach(album => { %>
    <a href="/album/<%= album._id %> ">
      <h2><%= album.name %></h2>
    </a>
    <img src="<%= album.art %>" height="400" width="400">
  <% }) %> 
</body>
</html>