<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head', { title: 'Edit'}) %>
<body>

<%- include('../../partials/nav') %>

   
    <div class="title-box">
      <h1>Edit <%= artist.name %></h1>
      <form action="/artist/<%= artist._id %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%= artist.name %>"><br>
        
        <input type="submit" value="Make changes">
      </form>
    </div>

</body>
</html>